/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/*---------------------------------- Navbar---------------------------- */

/*Top Navbar */
.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Mid Navbar */
.mid-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mid-mid-nav {
  width: 500px;
}

.right-mid-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*End Navbar */

/* ----------------------------------Navbar End-----------------------------*/

.drop-menü {
  position: relative;
  cursor: pointer;
}

.drop-menü  ul {
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 5px;
  display: none;
}

.drop-menü:hover ul {
  display: block;
}
.drop-menü ul li:hover {
  background-color: #59b5fe;
}

.drop-menü ul li {
  width: 100%;
  cursor: pointer;
  padding: 5px;
}

.drop-menü ul li:hover i {
  color: #ff9ba7 !important;
}





.right-drop-menü {
  position: relative;
  cursor: pointer;
  
}
.right-drop-menü > ul {
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 5px;
  display: none;
}

.right-drop-menü:hover >ul {
  display: block ;
}


.right-drop-menü >ul  ul {
  display: none !important;
  position: absolute;
  top: -5px;
  left: 115px;
  padding: 5px;
 

}
.right-drop-menü > ul:hover  ul {
  display: block !important;

}
/* ----------------------------------Slider-----------------------------*/
.sliderr{
  height: 80vh !important;
}

/* ----------------------------------Shop Menü-----------------------------*/
.drop-menü:hover .shop-menü{
  display: block;
}
.shop-menü{
  display: none;
  box-shadow: rgba(187, 3, 169, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
}
