
/* Hızlı görünüm simgesi için bu stili ekleyin */
.quick-view-icon {
    padding: 8px;
    /* background-color: #c6c2c2; */
    border: 1px solid #c3bfbf00;
    border-radius: 50%;
    margin-bottom: -12px; /* İhtiyaca göre ayarlayın */
    margin-right: -12px; /* İhtiyaca göre ayarlayın */
    transition: background-color 0.3s ease-in-out;
  }
  .right-block:hover .quick-view-icon {
    opacity: 1;
  }
  .quick-view-icon:hover {
    background-color: #c0b8b8ac;
    
  }
 
  .product-layout .image:hover .quick-view-icon {
    opacity: 2;
    
  }



.product-thumb .image {
  position: relative;
}

.product-thumb .image a:last-child {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-thumb:hover .image a:last-child {
  display: inline;
}

.product-thumb {
  position: relative;
}

.txt-button-group {
  display: flex;
  justify-content: flex-start;
}

.txt-button-group button {
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.txt-button-group button:hover {
  background-color: rgb(248, 187, 4);
}

.rat-pri {
  display: block;
}

.txt-button-group, .rat-pri {
  position: absolute;
  bottom: 20px;
  left: 12px;
}

.txt-button-group {
  display: none;
}



*-----footer-----*
.social .sparkle-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.sparkle-button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 100px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(white, transparent 50%);
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
  top: 0;
  left: 0;
  width: 150px; /* Genişlik değerini istediğiniz değerle değiştirin */
  height: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(247, 35, 35, 0.5),
      rgba(69, 247, 33, 0.2),
      rgba(255, 255, 255, 0.584)
  );
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sparkle-button:hover::before {
  opacity: 1;
}

