@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.dropdownLanguage li{
  padding: 2px;
}

.dropdownLanguage li:hover, .dropdownCurrency li:hover, .dropdownAll li:hover{
  background-color: #59B5FE;
}

.dropdownCategory li:hover {
  background-color:  #FF9BA7;
}
.dropdownMenuLinks li:hover {
  color:  #FF9BA7;
}

/* .search-box{
  flex: 1 0 100%;
} */

.search-box:nth-child(2) {
  flex-basis: 100%; /* The second box takes up full width */
}

@media screen and (min-width:1320px) {
  .search-box:nth-child(2) {
    flex-basis: auto; /* The second box takes up full width */
    order: 0;
    width: 40%;
  }
  .categoryxl{
    display: hidden;
  }
}

.xyz{
  transition: all 1s;
}
